<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.Oracle10gDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            oracle.jdbc.driver.OracleDriver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:oracle:thin:@212.33.90.213:1521:XE
        </property>

        <property name = "hibernate.connection.username">
            <!--username-->
            sbd_inf_ps7_9
        </property>

        <property name = "hibernate.connection.password">
            <!--password-->
            sbd_inf_ps7_9
        </property>

        <mapping class="com.project.dto.Offer"/>
        <mapping class="com.project.dto.Sender"/>
        <mapping class="com.project.dto.Payment"/>
        <mapping class="com.project.dto.Recipient"/>
        <mapping class="com.project.dto.PackageDimension"/>
        <mapping class="com.project.dto.PackageInfo"/>
        <mapping class="com.project.dto.Car"/>
        <mapping class="com.project.dto.Area"/>
        <mapping class="com.project.dto.Courier"/>
        <mapping class="com.project.dto.CourierCarArea"/>
        <mapping class="com.project.dto.OrderInfo"/>

    </session-factory>
</hibernate-configuration>